<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="page-body">
    <div id="twitch-emotes"></div>
</body>
</html>
