@import url('https://fonts.googleapis.com/css?family=Merriweather');

// Background page and such
.page-body {
  background: #6441a5;
  font-family: 'Merriweather', serif;
}

// Page Header
.header {
  text-align: center;
  margin-bottom: 40px;

  &__title {
    color: white;
    font-weight: bold;
  }
}

// Page Content
.grid-block {
  margin-top: 50px;
}

.input-block {
  display: block;
  margin-bottom: 15px;
  border-radius: 2px;
  color: #00003F;

  &--disabled {
    color: gray;
  }
}
